---
interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
const siteUrl = 'https://timheuer.com';
const fullUrl = siteUrl + url;
const enc = encodeURIComponent(fullUrl);
const text = encodeURIComponent(title);
---

<aside class="socialsharing">
  Share on
  <a title="Share on Twitter" aria-label="Share on Twitter" href={`https://twitter.com/intent/tweet?url=${enc}&text=${text}`} target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-twitter twitter"></i></a>
  <a title="Share on Facebook" aria-label="Share on Facebook" href={`https://facebook.com/sharer.php?u=${enc}`} target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-facebook-square facebook"></i></a>
  <a title="Share on LinkedIn" aria-label="Share on LinkedIn" href={`https://www.linkedin.com/shareArticle?mini=true&url=${enc}&title=${text}`} target="_blank" rel="noopener noreferrer nofollow"><i class="fab fa-linkedin linkedin"></i></a>
  <a title="Share on Email" aria-label="Share on Email" href={`mailto:?subject=${title.replace(/ /g, '%20')}&body=${enc}`} target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-envelope mail"></i></a>
</aside>
